h1
{
	font-weight: bold;
}

h2
{
	font-weight: bold;
}

h3
{
	font-size: 30px;
	font-weight: bold;
}

h4
{
	font-size: 25px;
	font-weight: bold;
}

.table
{
	border: 1px solid black;
	padding: 3%;
}

.table-row
{
	padding-bottom: 5%;
}

.can-click
{
 	cursor: pointer;
}