h1
{
	font-weight: bold;
}

h2
{
	font-weight: bold;
}

h3
{
	font-size: 30px;
	font-weight: bold;
}

h4
{
	font-size: 25px;
	font-weight: bold;
}

.bhom-red
{
	color: #FE224A;
}

.bhom-black
{
	color: #211218;
}

.container
{
	margin-left: 5%;
	margin-right: 5%;
}

.main-logo
{
	width: 10%;
	margin-top: 30%;
}

.top-right-logo
{
	width: 20%;
}

.main-search-bar
{
	margin-left: 30%;
	margin-top: 10%;
}

.main-search-buttons
{
	margin-left: 40%;
	margin-top: 10%;
}

.search-btn
{
	background-color: #FE224A;
	padding-left: 10%;
	padding-right: 10%;
	font-weight: bold;
}

.surprise-btn
{
	background-color: #FFFFFF;
	padding-left: 10%;
	padding-right: 10%;
	border-color: #FE224A;
	color: #FE224A;
	font-weight: bold;
}

.table
{
	border: 1px solid black;
	padding: 3%;
}

.table-header
{
	font-weight: bold;
	padding-bottom: 5%;
	border-bottom: 1px solid #aaaaaa;
}

.table-row
{
	display: table;
	width: 100%;
	margin-bottom: 10%;
}

.method-input-table-header
{
	font-weight: bold;
}

.table-sub-row
{
	border-bottom: 1px solid #999999;
	padding: 1%;
}

.method-data-header
{
	font-weight: bold;
}

.can-click
{
 	cursor: pointer;
}

.fa-plus-circle
{
	color: #FE224A;
}

.menu-sidebar
{
	height: 100vh;
	border-right: 5px dotted;
	border-color: #FE224A;
}

.object-name, .object-description
{
	background-color: #FFA500;
}

.table-cell
{
	background-color: #F6F6F6;
	display: table-cell;
}