h1
{
	font-weight: bold;
}

h2
{
	font-weight: bold;
}

h3
{
	font-size: 30px;
	font-weight: bold;
}

h4
{
	font-size: 25px;
	font-weight: bold;
}

.bhom-red
{
	color: #FE224A;
}

.bhom-black
{
	color: #211218;
}

.container
{
	margin-left: 5%;
	margin-right: 5%;
}

.main-logo
{
	width: 30%;
}

.table
{
	border: 1px solid black;
	padding: 3%;
}

.table-header
{
	font-weight: bold;
	padding-bottom: 5%;
	border-bottom: 1px solid #aaaaaa;
}

.table-row
{
	padding-bottom: 5%;
}

.property-table-row
{
	border-bottom: 1px solid #aaaaaa;
}

.method-input-table-header
{
	font-weight: bold;
}

.table-sub-row
{
	border-bottom: 1px solid #999999;
	padding: 1%;
}

.method-data-header
{
	font-weight: bold;
}

.can-click
{
 	cursor: pointer;
}

.fa-plus-circle
{
	color: #FE224A;
}

.menu-sidebar
{
	border-width: 1px;
	border-style: dotted;
	border-color: #FE224A;
}