<div class="col-md-9 ng-hide" ng-show="displayObject">
	<div class="col-md-12 text-right">
		<p class="right-hand-header">oM</p>
	</div>

	<p class="pre-object-namespace">{{currentObject.namespace}}</p>

	<p class="object-name">{{currentObject.memberName}}</p>

	<p class="object-description">{{currentObject.description}}</p>

	<p class="object-properties can-click" ng-click="displayObjectProperties(currentObject)"><span class="fa {{currentObject.displayProperties ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> oM Properties</p>

	<div class="row table property-table ng-hide" ng-show="currentObject.displayProperties">
		<div class="table-header table-row hidden-xs">
			<div class="col-sm-3">Name</div>

			<div class="col-sm-3">Type</div>

			<div class="col-sm-6">Description</div>
		</div>

		<div class="table-row method-table-row ng-hide" ng-show="currentObject.properties.length == 0">
			<div class="col-xs-12 text-center">
				{{currentObject.memberName}} has no properties associated with it
			</div>
		</div>

		<div class="table-row property-table-row" ng-repeat="x in currentObject.properties">
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Name</div>
			<div class="col-xs-12 col-sm-3 table-cell property-table-cell">
				{{x.name}}
			</div>

			<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Type</div>
			<div class="col-xs-12 col-sm-3 table-cell property-table-cell">
				{{x.type}}
			</div>

			<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Description</div>
			<div class="col-xs-12 col-sm-6 table-cell property-table-cell">
				{{x.description}}
			</div>
		</div>
	</div>

	<p class="engine-methods can-click" ng-click="displayEngineMethods(currentObject)"><span class="fa {{currentObject.displayMethods ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> Engine Methods</p>

	<div class="row table method-table ng-hide" ng-show="currentObject.displayMethods">
		<div class="table-header table-row hidden-xs">
			<div class="col-sm-4">Method</div>
			<div class="col-sm-8">Description</div>
		</div>

		<div class="table-row method-table-row ng-hide" ng-show="currentObject.methods.length == 0">
			<div class="col-xs-12 text-center">
				{{currentObject.memberName}} has no methods associated with it
			</div>
		</div>

		<div class="table-row method-table-row" ng-repeat="a in currentObject.methods">
			<div class="namespace-display accordion-display" ng-click="showHideNamespace(a)">
				<span class="can-click"><span class="fa {{a.canView ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> {{a[0]}}</span>
			</div>

			<div class="namespace-methods-display ng-hide" ng-show="a.canView" ng-repeat="x in a[1]">
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Method</div>
				<div class="col-xs-12 col-sm-4 table-cell property-table-cell">
					<div class="row"><span class="method-data-header">{{x.memberName}}</span></div>
					<div class="row">{{x.className}}</div>
					<div class="row">{{x.namespace}}</div>
					<div class="row">{{x.assemblyName}}</div>
				</div>

				<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Description</div>
				<div class="col-xs-12 col-sm-8 table-cell property-table-cell">
					{{x.description}}
				</div>

				<div class="col-xs-12 table-sub-row method-table-sub-row">
					<div class="col-xs-12 method-input-table-header can-click" ng-click="showHideMethodInputs(a)"><span class="fa {{a.canViewInputs ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> Inputs</div>

					<div class="row method-input-table-header hidden-xs ng-hide" ng-show="a.canViewInputs">
						<div class="col-sm-2">Name</div>
						<div class="col-sm-3">Type</div>
						<div class="col-sm-1">Is Required</div>
						<div class="col-sm-6">Description</div>
					</div>

					<div class="row table-sub-row ng-hide" ng-show="a.canViewInputs" ng-repeat="y in x.inputs">
						<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Name</div>
						<div class="col-xs-12 col-sm-2 table-cell property-input-table-cell">{{y.inputName}}</div>

						<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Type</div>
						<div class="col-xs-12 col-sm-3 table-cell property-input-table-cell"><span class="can-click" ng-click="goToObject(y)">{{y.namespace}}.{{y.memberName}}</span></div>

						<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Is Required</div>
						<div class="col-xs-12 col-sm-1 table-cell property-input-table-cell">{{y.isRequired}}</div>

						<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Description</div>
						<div class="col-xs-12 col-sm-6 table-cell property-input-table-cell">{{y.description}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p class="engine-methods can-click" ng-click="displayAdapterMethods(currentObject)"><span class="fa {{currentObject.displayAdapters ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> Adapter Methods</p>

	<div class="row table method-table ng-hide" ng-show="currentObject.displayAdapters">
		<div class="table-row method-table-row" ng-repeat="a in currentObject.adapters">
			<div class="namespace-display accordion-display" ng-click="showHideNamespace(a)">
				<span class="can-click"><span class="fa {{a.canView ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> {{a[0]}}</span>
			</div>

			<div class="namespace-methods-display ng-hide" ng-show="a.canView" ng-repeat="x in a[1]">
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Method</div>
				<div class="col-xs-12 col-sm-4 table-cell property-table-cell">
					<div class="row"><span class="method-data-header">{{x.memberName}}</span></div>
					<div class="row">{{x.className}}</div>
					<div class="row">{{x.namespace}}</div>
					<div class="row">{{x.assemblyName}}</div>
				</div>

				<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Description</div>
				<div class="col-xs-12 col-sm-8 table-cell property-table-cell">
					{{x.description}}
				</div>

				<div class="col-xs-12 table-sub-row method-table-sub-row">
					<div class="col-xs-12 method-input-table-header can-click" ng-click="showHideMethodInputs(a)"><span class="fa {{a.canViewInputs ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> Inputs</div>

					<div class="row method-input-table-header hidden-xs ng-hide" ng-show="a.canViewInputs">
						<div class="col-sm-2">Name</div>
						<div class="col-sm-3">Type</div>
						<div class="col-sm-1">Is Required</div>
						<div class="col-sm-6">Description</div>
					</div>

					<div class="row table-sub-row ng-hide" ng-show="a.canViewInputs" ng-repeat="y in x.inputs">
						<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Name</div>
						<div class="col-xs-12 col-sm-2 table-cell property-input-table-cell">{{y.inputName}}</div>

						<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Type</div>
						<div class="col-xs-12 col-sm-3 table-cell property-input-table-cell"><span class="can-click" ng-click="goToObject(y)">{{y.namespace}}.{{y.memberName}}</span></div>

						<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Is Required</div>
						<div class="col-xs-12 col-sm-1 table-cell property-input-table-cell">{{y.isRequired}}</div>

						<div class="col-xs-12 hidden-sm hidden-md hidden-lg table-header-xs">Description</div>
						<div class="col-xs-12 col-sm-6 table-cell property-input-table-cell">{{y.description}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p class="version-info version-title">Assembly and Version Information</p>
	<p class="version-info">{{currentObject.assembly}}</p>
	<p class="version-info">{{currentObject.version}}</p>
</div>