<div class="col-md-2 menu-sidebar">
	<!-- Left hand sidebar -->
	<div class="row text-center">
		<h3><span class="bhom-black">BHoM</span><span class="bhom-red">.API</span></h3>
	</div>

	<div class="row">
		<span class="can-click" ng-click="showObjects()"><span class="fa {{expandObjects ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> oM</span>
		<div class="row can-click ng-hide navigation-item" ng-show="expandObjects" ng-repeat="x in navigationObjectModel" ng-click="goToObjectNamespace(x)">
			<span class="fa {{x.isVisible ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> {{displayNamespaceSplit(x)}}
		</div>
	</div>

	<div class="row">
		<span class="can-click" ng-click="showEngine()"><span class="fa {{expandEngine ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> Engine</span>
		<div class="row can-click ng-hide navigation-item" ng-show="expandEngine" ng-repeat="x in navigationEngines" ng-click="goToEngineNamespace(x)">
			<span class="fa {{x.isVisible ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> {{displayNamespaceSplit(x)}}
		</div>
	</div>

	<!--<div class="row">
		<span class="can-click" ng-click="showAdapter()"><span class="fa {{expandAdapter ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> Adapter</span>
		<div class="row can-click ng-hide navigation-item" ng-show="expandAdapter" ng-repeat="x in navigationAdapters" ng-click="goToAdapterNamespace(x)">
			<span class="fa {{x.isVisible ? 'fa-times-circle' : 'fa-plus-circle'}} fa-2x"></span> {{displayNamespaceSplit(x)}}
		</div>
	</div>-->
</div>